.u-section-1 .u-sheet-1 {
  min-height: 613px;
}

.u-section-1 .u-text-1 {
  margin: 48px auto 0;
}

.u-section-1 .u-line-1 {
  width: 394px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 auto 0 360px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 41px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 48px auto 60px 500px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-left: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    margin-left: 326px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    margin-left: 146px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: 0;
  }
}